/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('./assets/wallpapersden.com_ubuntu-19-10_4096x2304.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header, main, footer {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#discord-picture {
    border-radius: 50%;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #333;
}

/* Add more styles based on your preferences */
